@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
  font-family: saira, sans-serif;
}

@theme {

  --color-dark-100: #1a1a1a;
  --color-dark-200: #2f2f2f;
  --color-dark-300: #2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-blue: #3B82F6;
}



.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #23abe1;
  white-space: nowrap;
  letter-spacing: 0.10em;
  animation:
    typing 3.5s steps(19, end) forwards,
    blink-caret .75s step-end infinite;
  display: inline-block;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 19ch;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #23abe1;
  }
}